
body{
    /* background-color: aqua; */
}

.container{
    background-color: darkblue;
    height: 100vh;
}

.row{
    background-color: orange;
    height: 100vh;
}

.colBox{
    background-color: azure;
    height: 80vh;
    border: 1px solid black;
}
.calc{
    background-color: rgb(15, 15, 15);
    width: 300px;
    height: 400px;
    align-items:center ;
}

.calc-input{
    margin: 2px;
}
.guarda{
    background-color:rgb(55, 55, 61);
    height: 50px;
    color: antiquewhite;
}
.fila{
    /* background-color: orange; */
    height: 60px;
    border:1px solid black;
    display: flex;
}
.boton{
    width: 75px;
    background-color: rgb(55, 55, 61);
}
.boton1{
    width: 150px;
}
.info{
    text-align: center;
}
.boton1-1{
    width: 150px;
    background-color: rgb(122, 122, 237);
}
.boton1-2{
    width: 150px;
    background-color: rgb(243, 99, 99);
}
.boton2{
    width: 75px;
    background-color: rgb(118, 116, 125);
}